@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header, .footer {
	background-color: #eee;
	width: 100vw;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-links, .right-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

ul {
	list-style-type: none;
}

a {
	color: #333;
	text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
